LOG_LEVEL=info
FLOW_URL=https://labs.google/flow
DOWNLOAD_FOLDER=./downloads
POLL_INTERVAL_MS=30000
RETRY_COUNT=3
HEADLESS=false
BROWSER_STRATEGY=auto
CDP_PORT=9222
USER_DATA_DIR=./user_data
CHROME_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe
